.titulo-principal {
    text-align: center;
    font-size: 70px;
    background-color: SteelBlue;
    margin: 0 0 25px 0;
    color: white;
    font-family: Copperplate, Papyrus, fantasy;
 
}



body {
    font-family: 'Montserrat', sans-serif;
    background: url("bg.jpg");
    background-repeat: no-repeat;
    color: white;
    background-attachment: fixed;
    background-size: 100% 100%;
}

form {
    margin: 40px 90px;
    position: absolute;
    top: 180px;
    right: 110px;
    
    
}



.inputs {
    display: block;
    margin: 0 0 15px 0;
    font-size: 22px;
    border: none;
    border-radius: 5px;

}

label {
    font-size: 22px
}



 p {
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: bold;
   
}

h3 {
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;

}

.calcular {
    display: inline-block;
    width: 20%;
    padding: 15px 0;
    color: steelblue;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s all;

}

.calcular:hover {
    background: mediumblue;
    transform: scale(1.2);
    color: white;
}

.atualiza {
    display: inline-block;
    margin: 0 15px 0 15px;
    width: 30%;
    padding: 15px 0px;
    color: steelblue;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s all;
}

.atualiza:hover {
    background: mediumblue;
    transform: scale(1.2);
    color: white;
}


/* <<< responsividade para smartphones >>>*/


@media screen and (max-width: 480px) {

    .titulo-principal, body, form, .inputs, label, p, .calcular, h3 {
        width: auto;
    }

    form {
        position: static;
        margin: 70px 10px 40px 20px;
        padding: 20px;
    }

    label {

        font-size: 25px;
        text-align: center;
        font-weight: bold;
        
        

        
    }

    .inputs {

        padding: 15px 0;
        width: 80%;
        margin: 15px 0;
    
    }

    h3 {
        margin: 20px 0 0 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        text-align: center;

    }

    p {

        text-align: center;
        box-shadow: inset 0 0 10px 10px blue;
    }

    .calcular {
        width: 30%;
        margin: 30px 10px 0 0px;
    }

    .atualiza {
        display: inline-block;
        margin: 0 15px 0 15px;
        width: 50%;
        padding: 15px 0px;
        color: steelblue;
        font-weight: bold;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 1s all;
    }
    
}

